/* font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #381f1f;
    font-size: 14px;
    background-color: rgba(208, 205, 211, 0.788);
}
.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 15px;
    background-color: rgb(208, 205, 211);
    border-radius: 5%;
    box-shadow: 5px 5px 35px 0px;
}
.post {
    padding: 2em 0 1em;
}
.post-image img {
    width: 100%;
    margin: 0 0 20px 0;
    opacity: 75%;
}
.post h1 {
    color: #381f1f;
    font-weight: 500;
     margin-bottom: 30px;
}
.post-header {
    text-align: center;
}
.post-meta {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}
.post-meta:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
}

time,
.author {
    padding-right: 26px;
    position: relative;
}
time:after,
.author:after {
    content: "/";
    color: #973636;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    .container {
        padding: 0 45px;
    }
    .post-image img {
        float: left;
        width: 300px;
        margin: 0 30px 20px -45px;
        border: 10px solid #381f1f73;
        border-left-width: 0;
    }
}

/* something like this, not that much time so i did it simple and not so good, but it worked. */